[run]
source = .
omit =
    tests/*
    venv/*
    .venv/*
    migrations/*
    wsgi.py
    manage.py
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise NotImplementedError
    if __name__ == .__main__.:

[html]
directory = htmlcov

[xml]
output = coverage.xml
